.feed {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-auto-flow: dense;
  max-width: 1300px;
  margin: 0 auto;
}

.feed {
  .intro {
    grid-column: span 4;
  }

  .status {
    grid-column: span 2;
  }

  .self {
    grid-column: span 2;
  }
}
.gutter-sizer {
  width: 100px;
}

@media (max-width: 667px) {
  .social-card.card {
    width: 100% !important;
  }
}
.day {
  margin: 0 auto;
}
