<pg-container>
<pg-breadcrumb>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
    <li class="breadcrumb-item active">Charts</li>
  </ol>
</pg-breadcrumb>
  <!-- END BREADCRUMB -->
  <!-- START card -->
  <div class="card card-transparent">
    <div class="card-header  ">
      <!-- <div class="card-title">Gráficos</div> -->
    </div>
    <div class="card-body d-flex flex-wrap">
      <div class="col-lg-4 no-padding">
        <div class="p-r-30">
          <h3>Indicadores Econômicos</h3>
          <br>
          <p>O gráfico apresenta a evolução dos principais indicadores econômicos no Brasil ao longo dos últimos cinco anos, oferecendo uma visão panorâmica da situação financeira do país. Os indicadores selecionados refletem diferentes aspectos da economia e fornecem informações valiosas sobre seu desempenho.</p>
          <br>
          <!-- <div class="inline">
            <p class="small hint-text">Qualquer coisa pra ficar pequeno.</p>
          </div> -->
        </div>
      </div>
      <div class="col-lg-8 sm-no-padding">
          <pgcard Type="transparent" Maximize="false" Close="false" Refresh="false" Toggle="false">
              <ng-template #CardTitle></ng-template>
              <pg-tabset tabAnimation="slide-left" Type="linetriangle" extraTabClass="no-border" extraTabContentClass="no-padding b-t b-light">
                <pg-tab>
                  <ng-template #TabHeading>
                    Gráfico em Tempo Real
                  </ng-template>
                <div class="tab-rickshaw-realtime full-width" #realTimeChartWrapper>
					<div echarts class="realtimeChart" [merge]="realtimeChartUpdate" [options]="realtimeChartOptions" [initOpts]="realtimeChartInitOptions" (chartInit)="onRealtimeChartInit($event)" (window:resize)="onRealtimeChartResize($event)"></div>				
                </div>
                </pg-tab> 
                <pg-tab>
                    <ng-template #TabHeading>
                      Gráfico em Barras
                    </ng-template>
                    <div class="sample-bar-chart">
                      <!-- <nvd3 [options]="barChartOptions" [data]="barChartData"></nvd3> -->
					  <div echarts class="stackedBarChart" [merge]="stackedBarChartUpdate" [options]="stackedBarChartOptions" [initOpts]="stackedBarChartInitOptions" ></div>				
                    </div>
                  </pg-tab>
                  <pg-tab>
                      <ng-template #TabHeading>
                        Gráfico Desempenho
                      </ng-template>
                      <div #areaSliderChartWrapper class="relative rickshaw-slider">
					    <div echarts class="areaSliderChart" [merge]="areaSliderChartUpdate" [options]="areaSliderChartOptions" [initOpts]="areaSliderChartInitOptions" (window:resize)="onAreaSliderChartResize($event)"></div>				
                      </div>
                    </pg-tab>
              </pg-tabset>
          </pgcard>
      </div>
    </div>
    <!-- END card -->
  </div>
  <!-- END CONTAINER FLUID -->
  <!-- START CONTAINER FLUID -->
  <div class="p-l-30 p-r-30 sm-no-padding bg-white">
    <!-- START card -->
    <pgcard Type="transparent" BodyClass="d-flex flex-wrap" Maximize="false" Close="false" Refresh="false" Toggle="false">
        <!-- <ng-template #CardTitle>Outro gráfico</ng-template> -->
        <div class="col-lg-4 no-padding">
            <div class="p-r-30">
              <h3>Dívida Pública</h3>
              <br>
              <p>O gráfico apresenta a evolução da dívida pública do Brasil ao longo dos últimos dez anos, fornecendo uma visão abrangente sobre a situação das finanças públicas do país. A dívida pública é um indicador crítico para avaliar a sustentabilidade fiscal e a saúde financeira do governo.</p>
              <br>
              <!-- <div class="inline">
                <p class="small hint-text">Descrição pequena.</p>
              </div> -->
            </div>
          </div>
          <div class="col-lg-8 sm-no-padding">
            <pg-tabset tabAnimation="slide-left" Type="linetriangle"  extraTabClass="no-border" extraTabContentClass="no-padding b-t b-light">
                <pg-tab>
                  <ng-template #TabHeading>
                      Gráfico em Linha
                  </ng-template>
                  <div class="line-chart text-center p-t-20" data-x-grid="false">
                  <!-- <nvd3 [options]="nvd3LineOptions" [data]="nvd3LineData"></nvd3> -->
				  <div echarts class="lineChart" [merge]="lineChartUpdate" [options]="lineChartOptions" [initOpts]="lineChartInitOptions" ></div>	
                  </div>
                </pg-tab>
                <pg-tab>
                    <ng-template #TabHeading>
                        Gráfico estático
                    </ng-template>
                    <div class="line-chart text-center  p-t-20" data-x-grid="false">
						<div echarts class="stackedAreaChart" [merge]="stackedAreaChartUpdate" [options]="stackedAreaChartOptions" [initOpts]="stackedAreaChartInitOptions" ></div>
                    <!-- <nvd3 [options]="options" [data]="data"></nvd3> -->
                    </div>
                  </pg-tab>
                  <pg-tab>
                      <ng-template #TabHeading>
                          Gráfico em Linha
                      </ng-template>
                      <div class="line-chart text-center  p-t-20" data-x-grid="false">
						<div echarts class="lineAreaChart" [merge]="lineAreaChartUpdate" [options]="lineAreaChartOptions" [initOpts]="lineAreaChartInitOptions" ></div>
                        <!-- <nvd3 [options]="nvd3LineAreaOptions" [data]="nvd3LineAreaData"></nvd3> -->
                      </div>
                    </pg-tab>
              </pg-tabset>
          </div>
    </pgcard>
    <!-- END card -->
  </div>
  <!-- END CONTAINER FLUID -->
  <!-- START CONTAINER FLUID -->
  <div class="p-l-30 p-r-30 sm-no-padding">
    <!-- START card -->
    <div class="card card-transparent">
      <div class="card-header  ">
        <!-- <div class="card-title">Gráfico Sparkline</div> -->
      </div>
      <div class="card-body d-flex flex-wrap">
        <div class="col-lg-4 no-padding">
          <div class="p-r-30">
            <h3>Setores Econômicos</h3>
            <br>
            <p>O gráfico apresenta a evolução dos principais setores econômicos no Brasil ao longo dos últimos cinco anos, fornecendo uma visão abrangente do desempenho e impacto desses setores na economia do país durante esse período.</p>
            <br>
            <!-- <div class="inline">
              <p class="small hint-text">Descrição pequena.</p>
            </div> -->
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card card-transparent">
            <div class="card-header  ">
              <div class="card-controls">
                <ul>
                  <li><a href="javascript:void(0)" class="card-collapse" data-toggle="collapse"><i
              class="pg pg-arrow_maximize"></i></a>
                  </li>
                  <li><a href="javascript:void(0)" class="card-refresh" data-toggle="refresh"><i
              class="pg pg-refresh_new"></i></a>
                  </li>
                  <li><a href="javascript:void(0)" class="card-close" data-toggle="close"><i
              class="pg pg-close"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6 text-center">
                    <div echarts [options]="optionsLineStack" [initOpts]="initOptionsLineStack" class="demo-chart"></div>
                </div>
                <div class="col-sm-6 text-center" #pieChartContainer>
                    <div echarts [options]="optionsPie" [initOpts]="initOptionsPie" class="demo-chart" (chartInit)="onChartInit($event)" (window:resize)="onResize($event)"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END card -->
    </div>
    <!-- END CONTAINER FLUID -->
  </div>
</pg-container>