<!-- START JUMBOTRON -->
<div class="jumbotron lg vertical center bg-white column-w4 vertical-bottom">
  <pg-container extraClass="sm-p-l-0 sm-p-r-0 full-height" extraHorizontalClass="sm-p-l-0 sm-p-r-0 full-height">
    <div class="d-flex flex-column justify-content-center inner full-height sm-p-l-25 sm-p-r-25 sm-p-t-25">
      <div class="row">
        <div class="col-lg-4">
          <div class="m-b-0">
            <h2 class="p-b-15 p-t-10 inline">Meaningful, easy, and more accessible icons</h2>
            <p>Call icons with common terms. Screen readers and search engines see words. Users see icons.</p>
            <p class="p-t-45 bold">Test run the icon font</p>
          </div>
          <div class="transparent no-padding">
            <input type="text" class="form-control pg-icon p-l-0 transparent icon-text-search"
              placeholder="Try typing, magic, earth .." id="icon-filter" name="icon-filter">
          </div>
          <div class="m-t-20 m-b-40 ">
            <p class="small hint-text w-50">person, eye, draw, love, bin — View all pages icon <a href="#"> cheatsheet
              </a> list</p>
          </div>
        </div>
      </div>
    </div>
  </pg-container>
</div>
<!-- END JUMBOTRON -->
<pg-container extraClass="">
  <br>
  <div class="row icon-set-preview">
    <div class="col-lg-6">
      <div class="card card-default overflow-hidden">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-9">
              <h2 class="p-b-40">Pixel perfect hand hinted material icons exclusive for pages UI</h2>
              <img class="sm-image-responsive-height m-b-40" src="assets/img/demo/icons_hero.png" pgRetina
                src1x="assets/img/demo/icons_hero.png" src2x="assets/img/demo/icons_hero2x.png"
                alt="" width="612" height="69">
              <p class="p-b-40">Color is a wonderful tool for making your dashboard more interesting with a significant
                positive impact on your mood.</p>

            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <a href="" class="btn btn-default">Request an icon</a>
            </div>
            <div class="col-lg-8">
              <p class="hint-text small m-t-10">We continuously work hard to improve the quality and performance of
                Pages .
                We value every bit of customer input. We have a special box for any icon requests.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card card-transparent card-bordless">
        <div class="card-header ">
          <div class="card-title">Explore all icons
          </div>
        </div>
        <div class="card-body">
          <p>
            We have packaged all the material icons into a single font that takes advantage
            of the typographic rendering capabilities of modern browsers so that web developers
            can easily incorporate these icons with only a few lines of code.
          </p>
          <div class="row b-t b-l b-grey m-t-35 m-l-0 m-r-0 m-b-25">
            <div class="col-sm-2 b-r b-b b-grey text-center padding-15">
              <i class="pg-icon m-20">person</i>
            </div>
            <div class="col-sm-2 b-r b-b b-grey text-center padding-15">
              <i class="pg-icon">bin</i>
            </div>
            <div class="col-sm-2 b-r b-b b-grey text-center padding-15">
              <div> <i class="pg-icon">user</i> </div>
            </div>
            <div class="col-sm-2 b-r b-b b-grey text-center padding-15">
              <i class="pg-icon">users</i>
            </div>
            <div class="col-sm-2 b-r b-b b-grey text-center padding-15">
              <i class="pg-icon">spam</i>
            </div>
            <div class="col-sm-2 b-r b-b b-grey text-center padding-15">
              <i class="pg-icon">grid</i>
            </div>
            <div class="col-sm-2 b-r b-b b-grey text-center padding-15">
              <i class="pg-icon m-20">paint_bucket</i>
            </div>
            <div class="col-sm-2 b-r b-b b-grey text-center padding-15">
              <i class="pg-icon">paint_brush</i>
            </div>
            <div class="col-sm-2 b-r b-b b-grey text-center padding-15">
              <i class="pg-icon">effects</i>
            </div>
            <div class="col-sm-2 b-r b-b b-grey text-center padding-15">
              <i class="pg-icon">draw</i>
            </div>
            <div class="col-sm-2 b-r b-b b-grey text-center padding-15">
              <i class="pg-icon">drop</i>
            </div>
            <div class="col-sm-2 b-r b-b b-grey text-center padding-15">
              <i class="pg-icon">image</i>
            </div>
            <div class="col-sm-2 b-r b-b b-grey text-center padding-15">
              <i class="pg-icon m-20">lock</i>
            </div>
            <div class="col-sm-2 b-r b-b b-grey text-center padding-15">
              <i class="pg-icon">flag</i>
            </div>
            <div class="col-sm-2 b-r b-b b-grey text-center padding-15">
              <i class="pg-icon">inbox</i>
            </div>
            <div class="col-sm-2 b-r b-b b-grey text-center padding-15">
              <i class="pg-icon">inbox_all</i>
            </div>
            <div class="col-sm-2 b-r b-b b-grey text-center padding-15">
              <i class="pg-icon">world</i>
            </div>
            <div class="col-sm-2 b-r b-b b-grey text-center padding-15">
              <i class="pg-icon">grid_alt</i>
            </div>
            <div class="col-sm-2 b-r b-b b-grey text-center padding-15">
              <i class="pg-icon m-20">heart</i>
            </div>
            <div class="col-sm-2 b-r b-b b-grey text-center padding-15">
              <i class="pg-icon">keyboard</i>
            </div>
            <div class="col-sm-2 b-r b-b b-grey text-center padding-15">
              <i class="pg-icon">map_alt</i>
            </div>
            <div class="col-sm-2 b-r b-b b-grey text-center padding-15">
              <i class="pg-icon">map</i>
            </div>
            <div class="col-sm-2 b-r b-b b-grey text-center padding-15">
              <i class="pg-icon">eye</i>
            </div>
            <div class="col-sm-2 b-r b-b b-grey text-center padding-15">
              <i class="pg-icon">mic</i>
            </div>
          </div>
          <div class="col-4 no-padding">
            <a href="" class="btn btn-default">See icon cheatsheet</a>
            <p class="hint-text small m-t-10">Go to icon cheatsheet to see all the icons in the font with its
              corresponding name.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END GRID -->
</pg-container>
