 <!-- START JUMBOTRON -->
 <div class="jumbotron page-cover bg-contrast-higher m-b-0">
   <pg-container extraHorizontalClass="p-l-0 p-r-0">
     <div class="inner" pg-parallax>
       <div class="container-md-height m-b-20 m-t-40">
         <div class="row m-lg-0">
           <div class="col-xl-7 col-lg-6 ">
             <!-- START card -->
             <div class="full-height">
               <div class="card-body text-center justify-content-center align-items-center d-flex full-height">
                 <h1 class="text-white large-demo-text">Inter</h1>
               </div>
             </div>
             <!-- END card -->
           </div>
           <div class="col-xl-5 col-lg-6">
             <!-- START card -->
             <div class="card card-transparent">
               <div class="card-header ">
                 <div class="card-title">Getting started
                 </div>
               </div>
               <div class="card-body">
                 <h3 class="text-white">The type system.</h3>
                 <p>The most advanced type system in a dashboard UI framework. Specially designed for user interfaces
                   with focus on high legibility of small-to-medium sized text on computer screens.</p>
                 <a class="btn btn-default m-t-10 m-b-10" href="https://rsms.me/inter/" target="_blank"
                   rel="noopener noreferrer">Inter font Project</a>
                 <br>
                 <div>
                   <div class="inline">
                     <p class="small text-white hint-text m-t-5">Have an Improvement or a suggestion?
                       <br>goto request box</p>
                   </div>
                 </div>
               </div>
             </div>
             <!-- END card -->
           </div>
         </div>
       </div>
     </div>
   </pg-container>
 </div>
 <!-- END JUMBOTRON -->
 <!-- START CONTAINER FLUID -->
 <pg-container extraHorizontalClass="bg-white" extraClass="bg-white">
   <div class="row m-b-40">
     <div class="col-lg-4">
       <!-- START card -->
       <div class="card card-transparent">
         <div class="card-header  m-t-30">
           <div class="card-title">Typefaces
           </div>
         </div>
         <div class="card-body">
           <h3>Consistent across all browsers and all operating systems. Packed with modern features. Works best for
             dashboard designs.</h3>
           <p>Pages Type system consist of three(3) font variables. Specifically Base font family - Which can be used
             for text sizes that are above 12px. Interface font family - text that are 12px and below. Secondary font
             family - Used for font pairing with base font.</p>
           <br>
         </div>
       </div>
       <!-- END card -->
     </div>
     <div class="col-lg-8">
       <!-- START card -->
       <div class="card card-borderless col-xl-9 col-lg-11 no-padding m-t-30">
         <pg-tabset tabAnimation="slide-left" Type="simple" ShowPagination="true" extraTabContentClass="b-l b-r b-b b-grey rounded-sm">
           <pg-tab>
             <ng-template #TabHeading>
               Base font family
             </ng-template>
             <p class="p-t-10">Used for paragraphs and fonts that are above 12px</p>
             <h2>Inter-font-family</h2>
             <p>
               Meet Inter - a consistent, hinted, Screen optimized font family guided by
               optical balance and packed with modern font features that work widely
               across all types of Operating Systems and browsers.
             </p>
             <pre class="m-t-30 fs-14">"Inter UI", -apple-system, BlinkMacSystemFont,  "Segoe UI", "Roboto",
"Oxygen", "Ubuntu", "Cantarell","Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif;</pre>
             <p class="m-t-40">Inter is licensed under the SIL Open Font License. In simple
               terms Its open source and free to use.</p>
           </pg-tab>
           <pg-tab>
             <ng-template #TabHeading>
               Interface font family
             </ng-template>
             <p class="p-t-10">Used for paragraphs and fonts that are below 14px</p>
             <h2>Inter-font-family</h2>
             <p>
               Meet Inter - a consistent, hinted, Screen optimized font family guided by
               optical balance and packed with modern font features that work widely
               across all types of Operating Systems and browsers.
             </p>
             <pre
               class="m-t-30 fs-14">"Inter UI", -apple-system, BlinkMacSystemFont,  "Segoe UI",
"Roboto", "Oxygen", "Ubuntu", "Cantarell","Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif;</pre>
             <p class="m-t-40">Inter is licensed under the SIL Open Font License. In simple
               terms Its open source and free to use.</p>
           </pg-tab>
           <pg-tab>
             <ng-template #TabHeading>
               Secondary font family
             </ng-template>
             <p class="p-t-10">Used for overlines and as a font pair to break the scan.</p>
             <h2>Montserrat-font-family</h2>
             <p>
               Meet Montserrat - a Beautiful Geometric Font designed by Julieta Ulanovsky released
               and shared with the world through Google Fonts. It looks great in all caps with a long letterspacing.
             </p>
             <pre
               class="m-t-30 fs-14">"montserrat", -apple-system, BlinkMacSystemFont,  "Segoe UI",
"Roboto", "Oxygen", "Ubuntu", "Cantarell","Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif;</pre>
             <p class="m-t-40">Montserrat is licensed under the SIL Open Font License. In simple
               terms Its open source and free to use.</p>
           </pg-tab>
         </pg-tabset>
       </div>
       <!-- END card -->
     </div>
   </div>
   <div class="row b-t b-grey m-t-40 p-t-40 p-b-40 m-b-30">
     <div class="col-md-4">
       <!-- START card -->
       <div class="card card-transparent">
         <div class="card-body">
           <h2>Type Scale</h2>
           <p>Pages type scale includes a range of contrasting styles that support
             the needs of your product and its content.</p>
           <p>The type scale is a combination of 8 styles that are supported by the type system.
             It contains reusable categories of text, each with an intended application and meaning.</p>
         </div>
       </div>
       <!-- END card -->

     </div>
     <div class="col-md-7">
       <div class="b-b b-grey m-t-20">
         <p class="p-b-15">Typography Scale - 1.125</p>
         <h1 class="m-b-20">The quick brown fox jumps over the lazy dog</h1>
         <div class="d-flex justify-content-between m-b-5">
           <p>h1</p>
           <p>44px/50px Letter-spacing: -0.0141279em</p>
         </div>
       </div>
       <div class="b-b b-grey m-t-20">
         <h2 class="m-b-20">The quick brown fox jumps over the lazy dog</h2>
         <div class="d-flex justify-content-between m-b-5">
           <p>h2</p>
           <p>30px/38px Letter-spacing: -0.021em;</p>
         </div>
       </div>
       <div class="b-b b-grey m-t-20">
         <h3 class="m-b-20">Forsaking monastic tradition, twelve jovial friars gave up their
           vocation for a questionable existence on the flying trapeze. Bawds jog, flick quartz,
           vex nymph.</h3>
         <div class="d-flex justify-content-between m-b-5">
           <p>h3</p>
           <p>27px/35px Letter-spacing: -0.0114923em</p>
         </div>
       </div>
       <div class="b-b b-grey m-t-20">
         <h4 class="m-b-20">Forsaking monastic tradition, twelve jovial friars gave up their
           vocation for a questionable existence on the flying trapeze. Bawds jog, flick quartz,
           vex nymph.</h4>
         <div class="d-flex justify-content-between m-b-5">
           <p>h4</p>
           <p>22px/32px Letter-spacing: -0.00865734em</p>
         </div>
       </div>

       <div class="b-b b-grey m-t-20">
         <h5 class="m-b-20">Forsaking monastic tradition, twelve jovial friars gave up their
           vocation for a questionable existence on the flying trapeze. Bawds jog, flick quartz,
           vex nymph.</h5>
         <div class="d-flex justify-content-between m-b-5">
           <p>h5</p>
           <p>18px/26px Letter-spacing: -0.00630069em</p>
         </div>
       </div>

       <div class="b-b b-grey m-t-20">
         <p class="m-b-20">We quickly seized the black axle and just saved it from
           going past him. No kidding, Lorenzo called off his trip to visit Mexico
           City just because they told him the conquistadores were extinct.
           We promptly judged antique onyx buckles for the next prize.</p>
         <div class="d-flex justify-content-between m-b-5">
           <p>paragraph</p>
           <p>44px/52px</p>
         </div>
       </div>

       <div class="b-b b-grey m-t-20">
         <p class="overline m-b-20">We quickly seized the black axle and just saved it from
           going past him. No kidding, Lorenzo called off his trip to visit Mexico
           City just because they told him the conquistadores were extinct.
           We promptly judged antique onyx buckles for the next prize.</p>
         <div class="d-flex justify-content-between m-b-5">
           <p>overline</p>
           <p>11px/inherit Letter-spacing: 0.06em</p>
         </div>
       </div>

       <div class="b-b b-grey m-t-20 m-b-40">
         <p class="small-text m-b-20">We quickly seized the black axle and just saved it from
           going past him. No kidding, Lorenzo called off his trip to visit Mexico
           City just because they told him the conquistadores were extinct.
           We promptly judged antique onyx buckles for the next prize.</p>
         <div class="d-flex justify-content-between m-b-5">
           <p>small-text</p>
           <p>12px/18px Letter-spacing: 0.00849077em</p>
         </div>
       </div>
     </div>
   </div>
 </pg-container>
 <!-- END CONTAINER FLUID -->
 <pg-container>
   <div class="row">
     <div class="col-xl-5 col-lg-3">
       <!-- START card -->
       <div class="card card-transparent">
         <div class="card-header ">
           <div class="card-title">Paint the world
           </div>
         </div>
         <div class="card-body">
           <p>Color can be a wonderful tool for making your dashboard less stressful and more calming and it can have a
             significant impact on your mood and well-being, We made it with you in mind
           </p>
         </div>
       </div>
       <!-- END card -->
     </div>
     <div class="col-xl-7 col-lg-9">
       <!-- START card -->
       <div class="card card-transparent">
         <div class="card-body">
           <div class="row">
             <div class="col-md-3 m-b-15">
               <p class="text-heading-color">
                 Heading color
               </p>
               <div class="bg-contrast-higher b-a b-grey">
                 <div class="bg-white m-t-45 padding-10">
                   <div class="hint-text clearfix">
                     <p class="small v-align-middle pull-left no-margin">
                       .text-black
                     </p>
                     <p class="small text-right v-align-middle pull-right no-margin">
                       #2c2c2c
                     </p>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-md-3 m-b-15">
               <p class="">
                 Body text
               </p>
               <div class="bg-contrast-high b-a b-grey">
                 <div class="bg-white m-t-45 padding-10">
                   <div class="clearfix hint-text">
                     <p class="small v-align-middle pull-left no-margin">
                       Default
                     </p>
                     <p class="small text-right v-align-middle pull-right no-margin">
                       #626262
                     </p>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-md-3 m-b-15">
               <p class="">
                 Hinted text
               </p>
               <div class="b-a b-grey demo-bg-hinted">
                 <div class="bg-white m-t-45 padding-10">
                   <div class="clearfix hint-text">
                     <p class="small v-align-middle pull-left no-margin">
                       .hint-text
                     </p>
                     <p class="small text-right v-align-middle pull-right no-margin">
                       #2c2c2c
                     </p>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-md-3 m-b-15">
               <p class="text-heading-color">
                 Primary color
               </p>
               <div class="bg-primary b-a b-grey">
                 <div class="bg-white m-t-45 padding-10">
                   <div class="clearfix text-black hint-text">
                     <p class="small v-align-middle pull-left no-margin">
                       .text-primary
                     </p>
                     <p class="small text-right v-align-middle pull-righ no-margin">
                       #62549a
                     </p>
                   </div>
                 </div>
               </div>
             </div>
           </div>
           <div class="row">
             <div class="col-md-3 m-b-15">
               <p class="">
                 Success color
               </p>
               <div class="bg-success b-a b-grey">
                 <div class="bg-white m-t-45 padding-10">
                   <div class="clearfix hint-text">
                     <p class="small v-align-middle pull-left no-margin">
                       .text-success
                     </p>
                     <p class="small text-right v-align-middle pull-right no-margin">
                       #4aa9e9
                     </p>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-md-3 m-b-15">
               <p class="">
                 Complete color
               </p>
               <div class="bg-complete b-a b-grey">
                 <div class="bg-white m-t-45 padding-10">
                   <div class="clearfix hint-text">
                     <p class="small v-align-middle pull-left no-margin">
                       .text-complete
                     </p>
                     <p class="small text-right v-align-middle pull-right no-margin">
                       #23b9a9
                     </p>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-md-3 m-b-15">
               <p class="text-heading-color">
                 Danger color
               </p>
               <div class="bg-danger b-a b-grey">
                 <div class="bg-white m-t-45 padding-10">
                   <div class="clearfix hint-text">
                     <p class="small v-align-middle pull-left no-margin">
                       .text-danger
                     </p>
                     <p class="small text-right v-align-middle pull-right no-margin">
                       #ce4e4d
                     </p>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-md-3 m-b-15">
               <p class="">
                 Warning color
               </p>
               <div class="bg-warning b-a b-grey">
                 <div class="bg-white m-t-45 padding-10">
                   <div class="clearfix hint-text">
                     <p class="small v-align-middle pull-left no-margin">
                       .text-warning
                     </p>
                     <p class="small text-right v-align-middle pull-right no-margin">
                       #eac459
                     </p>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
       <!-- END card -->
     </div>
   </div>
 </pg-container>
 <!-- END CONTAINER FLUID -->
 <!-- START CONTAINER FLUID -->
 <pg-container>
   <div class="row">
     <div class="col-md-6">
       <!-- START card -->
       <div class="card card-default">
         <div class="card-body">
           <div class="row">
             <div class="col-lg-4">
               <p class="bold sm-p-t-20">Highlighted Text</p>
               <p>For highlighting a run of text due to its relevance in another context</p>
             </div>
             <div class="col-lg-2 p-t-20">
               <code>&lt;mark&gt;</code>
             </div>
             <div class="col-lg-6 p-t-20">
               it is more then
               <mark>ONE nation/nationality</mark> as its fall name is The United Kingdom of Great Britain and North
               Ireland..
             </div>
           </div>
         </div>
       </div>
       <!-- END card -->
     </div>
     <div class="col-md-6">
       <!-- START card -->
       <div class="card card-default">
         <div class="card-body">
           <div class="row">
             <div class="col-lg-4">
               <p class="bold sm-p-t-20">Bold Text</p>
               <p>For emphasizing a snippet of text with a heavier font-weight.</p>
             </div>
             <div class="col-lg-2 p-t-20">
               <code>&lt;strong&gt;</code>
               <code>.bold</code>
             </div>
             <div class="col-lg-6 p-t-20">
               it is more then <strong>ONE nation/nationality</strong> as its fall name is The United Kingdom of Great
               Britain and North Ireland..
             </div>
           </div>
         </div>
       </div>
       <!-- END card -->
     </div>
   </div>
   <div class="row">
     <div class="col-md-6">
       <!-- START card -->
       <div class="card card-default">
         <div class="card-body">
           <div class="row">
             <div class="col-lg-4">
               <p class="bold sm-p-t-20">Ordered List</p>
               <p>For highlighting a run of text due to its relevance in another context</p>
             </div>
             <div class="col-lg-2 p-t-20">
               <code>&lt;ol&gt;&lt;/ol&gt;</code>
             </div>
             <div class="col-lg-6 p-t-20">
               <ol class="bold">
                 <li>
                   <span class="normal">Lorem ipsum dolor sit amet</span>
                 </li>
                 <li>
                   <span class="normal">Consectetur adipiscing elit</span>
                 </li>
                 <li>
                   <span class="normal">Integer molestie lorem at massa</span>
                 </li>
               </ol>
             </div>
           </div>
         </div>
       </div>
       <!-- END card -->
     </div>
     <div class="col-md-6">
       <!-- START card -->
       <div class="card card-default">
         <div class="card-body">
           <div class="row">
             <div class="col-lg-4">
               <p class="bold sm-p-t-20">Un-Ordered List</p>
               <p>For highlighting a run of text due to its relevance in another context</p>
             </div>
             <div class="col-lg-2 p-t-20">
               <code>&lt;ul&gt;&lt;/ul&gt;</code>
             </div>
             <div class="col-lg-6 p-t-20">
               <ul class="lg-icon">
                 <li><span>Life isn’t about getting and having...</span>
                 </li>
                 <li><span>Strive not to be a success... </span>
                 </li>
                 <li><span>Whatever the mind of man can... </span>
                 </li>
               </ul>
             </div>
           </div>
         </div>
       </div>
       <!-- END card -->
     </div>
   </div>
 </pg-container>
 <!-- END CONTAINER FLUID -->
 <!-- START CONTAINER FLUID -->
 <pg-container>
   <div class="row">
     <div class="col-md-6">
       <!-- START card -->
       <div class="card card-transparent">
         <div class="card-header ">
           <div class="card-title">Address Block
           </div>
         </div>
         <div class="card-body">
           <p>For quotes in your document &amp; client reviews</p>
           <blockquote class="margin-top-20">
             <p>It is during our darkest moments that we must focus to see the light.</p>
             <small>Aristotle Onassis</small>
           </blockquote>
           <blockquote class="pull-right">
             <p>The best and most beautiful things in the world cannot be seen or even touched.</p>
             <small>Helen Keller</small>
           </blockquote>
           <div class="clearfix"></div>
         </div>
       </div>
       <!-- END card -->
     </div>
     <div class="col-md-6">
       <!-- START card -->
       <div class="card card-transparent">
         <div class="card-header ">
           <div class="card-title">Address Block
           </div>
         </div>
         <div class="card-body">
           <address class="margin-bottom-20 margin-top-10">
             <strong>Revox, Inc.</strong>
             <br>795 Folsom Ave, Suite 600
             <br>San Francisco, CA 94107
             <br>
             <abbr title="Phone">P:</abbr>(123) 456-7890
           </address>
           <address>
             <strong>David Nester</strong>
             <br>
             <a href="mailto:#">david.nester@revox.io</a>
           </address>
         </div>
       </div>
       <!-- END card -->
     </div>
   </div>
 </pg-container>
 <!-- END CONTAINER FLUID -->
