   <!-- START JUMBOTRON -->
   <div class="jumbotron">
	<pg-container extraHorizontalClass="p-l-0 p-r-0" extraClass="sm-p-l-0 sm-p-r-0">
	  <div class="inner" pg-parallax>
		<!-- START BREADCRUMB -->
		<pg-breadcrumb>
		  <ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
			<li class="breadcrumb-item active">Form Elements</li>
		  </ol>
		</pg-breadcrumb>
		<!-- END BREADCRUMB -->
		<div class="row">
		  <div class="col-xl-7 col-lg-6 ">
			<!-- START card -->
			<div class="card card-default">
			  <div class="card-body text-center">
				<img class="image-responsive-height demo-mw-600" src="assets/img/demo/form_hero.gif" alt="">
			  </div>
			</div>
			<!-- END card -->
		  </div>
		  <div class="col-xl-5 col-lg-6 ">
			<!-- START card -->
			<div class="card card-transparent">
			  <div class="card-header ">
				<div class="card-title">Getting started
				</div>
			  </div>
			  <div class="card-body">
				<h3>One of the most underestimated elements of design is typography. However, it’s
				  critical in both print and web media. We Made it Perfect in both.</h3>
				<br>
				<div>
				  <div class="profile-img-wrapper m-t-5 inline">
					<img width="35" height="35" src="assets/img/profiles/avatar_small.jpg" alt="" pgRetina
					  src1x="assets/img/profiles/avatar_small.jpg" src2x="assets/img/profiles/avatar_small2x.jpg">
					<div class="chat-status available">
					</div>
				  </div>
				  <div class="inline m-l-10">
					<p class="small hint-text m-t-5">VIA senior product manage
					  <br> for UI/UX at REVOX</p>
				  </div>
				</div>
			  </div>
			</div>
			<!-- END card -->
		  </div>
		</div>
	  </div>
	</pg-container>
  </div>
  <!-- END JUMBOTRON -->
  <!-- START CONTAINER FLUID -->
  <pg-container>
	<div class="row">
	  <div class="col-lg-6">
		<!-- START card -->
		<div class="card card-default">
		  <div class="card-header ">
			<div class="card-title">
			  Option #one
			</div>
		  </div>
		  <div class="card-body">
			<h5>
			  Pages default style
			</h5>
			<form class="" role="form">
			  <div class="form-group form-group-default required " pgFormGroupDefault>
				<label>Project</label>
				<input type="email" class="form-control" required>
			  </div>
			  <div class="row">
				<div class="col-md-6">
				  <div class="form-group form-group-default required" pgFormGroupDefault>
					<label>First name</label>
					<input type="text" class="form-control" required>
				  </div>
				</div>
				<div class="col-md-6">
				  <div class="form-group form-group-default" pgFormGroupDefault>
					<label>Last name</label>
					<input type="text" class="form-control">
				  </div>
				</div>
			  </div>
			  <div class="form-group form-group-default required" pgFormGroupDefault>
				<label>Password</label>
				<input type="password" class="form-control" required>
			  </div>
			  <div class="form-group  form-group-default required" pgFormGroupDefault>
				<label>Placeholder</label>
				<input type="email" class="form-control" placeholder="ex: some@example.com" required>
			  </div>
			  <div class="form-group form-group-default disabled" pgFormGroupDefault>
				<label>Disabled</label>
				<input type="email" class="form-control" value="You can put anything here" disabled>
			  </div>
			</form>
		  </div>
		</div>
		<!-- END card -->
	  </div>
	  <div class="col-lg-6">
		<!-- START card -->
		<div class="card card-default">
		  <div class="card-header ">
			<div class="card-title">
			  Option #two
			</div>
		  </div>
		  <div class="card-body">
			<h5>
			  Traditional Standard Style
			</h5>
			<form role="form">
			  <div class="form-group">
				<label>Your name</label>
				<input type="email" class="form-control" required>
				<span class="help">e.g. "Mona Lisa Portrait"</span>
			  </div>
			  <div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" required>
				<span class="help">e.g. "Mona Lisa Portrait"</span>
			  </div>
			  <div class="form-group">
				<label>Email</label>
				<input type="email" class="form-control" placeholder="ex: some@example.com" required>
				<span class="help">e.g. "some@example.com"</span>
			  </div>
			  <div class="form-group">
				<label>Placeholder</label>
				<input type="email" class="form-control" placeholder="ex: some@example.com" required>
				<span class="help">e.g. "some@example.com"</span>
			  </div>
			  <div class="form-group">
				<label>Disabled</label>
				<input type="email" class="form-control" value="You can put anything here" disabled>
				<span class="help">e.g. "some@example.com"</span>
			  </div>
			</form>
		  </div>
		</div>
		<!-- END card -->
	  </div>
	</div>
  </pg-container>
  <!-- END CONTAINER FLUID -->
  <!-- START CONTAINER FLUID -->
  <pg-container>
	<div class="row">
	  <div class="col-lg-8">
		<!-- START card -->
		<div class="card card-default">
		  <div class="card-header ">
			<div class="card-title">Size options
			</div>
			<div class="tools">
			</div>
		  </div>
		  <div class="card-body">
			<div class="row">
			  <div class="col-md-6">
				<h5>Pages default control sizes
				</h5>
				<p>Input form element sizes on default pages design, These are highly customizable. You can either
				  chose
				  the default or you can select Standard input elements</p>
				<form role="form">
				  <div class="form-group form-group-default" pgFormGroupDefault>
					<label class="label-lg">Large</label>
					<input type="text" placeholder=".input-lg" class="form-control input-lg">
				  </div>
				  <div class="form-group form-group-default" pgFormGroupDefault>
					<label>Medium</label>
					<input type="text" placeholder="Default input" class="form-control">
				  </div>
				  <div class="form-group form-group-default" pgFormGroupDefault>
					<label class="label-sm">Small</label>
					<input type="text" placeholder=".input-sm" class="form-control input-sm">
				  </div>
				</form>
			  </div>
			  <div class="col-md-6">
				<h5>Standard control sizes
				</h5>
				<form role="form">
				  <div class="form-group">
					<label>Large</label>
					<input type="text" placeholder=".input-lg" class="form-control input-lg">
				  </div>
				  <div class="form-group">
					<label>Medium</label>
					<input type="text" placeholder="Default input" class="form-control">
				  </div>
				  <div class="form-group">
					<label>Small</label>
					<input type="text" placeholder=".input-sm" class="form-control input-sm">
				  </div>
				</form>
			  </div>
			</div>
		  </div>
		</div>
		<!-- END card -->
	  </div>
	  <div class="col-lg-4">
		<!-- START card -->
		<div class="card card-default">
		  <div class="card-header ">
			<div class="card-title">Form Options
			</div>
			<div class="tools"></div>
		  </div>
		  <div class="card-body">
			<h5>Form addons</h5>
			<p>Adding on top of existing browser controls, Bootstrap includes other useful form components. Add text or
			  buttons before or after any text-based input. Addons supports all background color classes</p>
			<br>
			<div class="form-group input-group transparent">
			  <div class="input-group-prepend">
				<span class="input-group-text transparent"><i class="pg-icon">inbox</i>
				</span>
			  </div>
			  <input type="text" placeholder="email@pages.io" class="form-control">
			</div>
			<div class="form-group input-group">
			  <input type="text" placeholder="#000000" class="form-control">
			  <div class="input-group-append">
				<span class="input-group-text primary"><i class="pg-icon">paint_bucket</i>
				</span>
			  </div>
			</div>
			<form role="form">
			  <div class="form-group form-group-default input-group" pgFormGroupDefault>
				<div class="form-input-group">
				  <label>Project</label>
				  <input type="email" placeholder="email address" class="form-control">
				</div>
				<div class="input-group-append ">
				  <span class="input-group-text">pages.io
				  </span>
				</div>
			  </div>
			</form>
		  </div>
		</div>
		<!-- END card -->
	  </div>
	</div>
  </pg-container>
  <!-- END CONTAINER FLUID -->
  <!-- START CONTAINER FLUID -->
  <pg-container>
	<!-- START card -->
	<div class="card card-default">
	  <div class="card-header ">
		<div class="card-title">Checkbox and radio button
		</div>
		<div class="tools">
		</div>
	  </div>
	  <div class="card-body">
		<div class="row m-b-15">
		  <div class="col-lg-4">
			<h5>Checkboxes </h5>
			<p class="m-b-20">Pages checkboxes use a light-weighted image sequence for smoother animation with better
			  performance. All checkboxes and radio buttons use native Bootstrap classes.</p>
			<div class="form-check">
			  <input type="checkbox" id="defaultCheck" checked>
			  <label for="defaultCheck">
				Default checkbox
			  </label>
			</div>
			<div class="form-check complete">
			  <input type="checkbox" id="checkColorOpt1">
			  <label for="checkColorOpt1">
				I agree to the terms and conditions
			  </label>
			</div>
			<div class="form-check primary">
			  <input type="checkbox" id="checkColorOpt2" checked>
			  <label for="checkColorOpt2">
				Mark as read
			  </label>
			</div>
			<p class="m-t-15 small">Checkboxes, switches and radio buttons support all colors in Pages. Simply add the
			  required color class. For example <code class="code-sm">.primary</code></p>
		  </div>
		  <div class="col-lg-4">
			<h5>Shape alternative</h5>
			<p class="m-b-20">Bored with traditional boxed shape check boxes? Here is a circle one simply add the class
			  <code>.checkbox-circle</code>to change it</p>
			<div class="form-check checkbox-circle danger">
			  <input type="checkbox" id="checkcircleColorOpt1">
			  <label for="checkcircleColorOpt1">
				Delete all personal settings
			  </label>
			</div>
			<div class="form-check checkbox-circle complete">
			  <input type="checkbox" id="checkcircleColorOpt2" checked>
			  <label for="checkcircleColorOpt2">
				Keep me signed in
			  </label>
			</div>
			<p class="m-t-25 small m-b-10">You can change the position of any checkbox, switch or radio button by
			  simply
			  adding <code class="code-sm">.right</code> class</p>
		  </div>
		  <div class="col-lg-4">
			<h5>States</h5>
			<p class="m-b-20">Checkboxes support the disabled attribute and <code>:indeterminate</code> pseudo class
			  which
			  is set manually via JavaScript since there is no available HTML attribute for specifying it</p>
			<div class="form-check form-check-inline complete">
			  <input type="checkbox" #checkboxIndeterminate id="checkboxIndeterminate">
			  <label for="checkboxIndeterminate">
				Indeterminate
			  </label>
			</div>
			<div class="form-check form-check-inline">
			  <input type="checkbox" id="disableCheck" checked disabled>
			  <label for="disableCheck">
				Disabled checkbox
			  </label>
			</div>
		  </div>
		</div>
		<div class="row">
		  <div class="col-lg-4">
			<h5>Switch</h5>
			<p class="m-b-20">Convert a checkbox into a switch by simply adding <code>.switch</code>. Switches also
			  support the disabled attribute.</p>
			<div>
			  <div class="form-check form-check-inline switch">
				<input type="checkbox" id="pagesSwitch" checked>
				<label for="pagesSwitch">Default switch</label>
			  </div>
			  <div class="form-check form-check-inline switch">
				<input type="checkbox" id="switchDisabled" disabled>
				<label for="switchDisabled"> disabled </label>
			  </div>
			</div>
			<div>
			  <div class="form-check form-check-inline switch switch-lg complete">
				<input type="checkbox" id="switch-lg">
				<label for="switch-lg">Auto-brightness</label>
			  </div>
			  <div class="form-check form-check-inline switch switch-lg success">
				<input type="checkbox" id="switchColorOpt">
				<label for="switchColorOpt">wifi </label>
			  </div>
			</div>
			<p class="small m-t-15">Add <code class="code-sm">switch-lg</code> to render a lager switch size. Switch
			  elements render all colors in checkboxes</p>
		  </div>
		  <div class="col-lg-4">
			<h5>Radio buttons</h5>
			<p class="m-b-20">Pure CSS radio button with a cool animation. These are available in all primary colors in
			  bootstrap</p>
			<div class="form-check">
			  <input type="radio" name="texture" id="defaultradio" value="Default" checked>
			  <label for="defaultradio">
				Default
			  </label>
			</div>
			<div class="form-check complete">
			  <input type="radio" name="texture" id="radio1" value="Medium">
			  <label for="radio1">
				Medium textures
			  </label>
			</div>
			<div class="form-check primary">
			  <input type="radio" name="texture" id="radio2" value="Verbose">
			  <label for="radio2">
				Verbose channel
			  </label>
			</div>
		  </div>
		  <div class="col-lg-4">
			<h5>States</h5>
			<p>Use of different color opacity helps to distinguish between different states such as disable
			</p>
			<br>
			<div class="form-check form-check-inline complete">
			  <input type="radio" name="state" id="radioInline" value="Default" checked>
			  <label for="radioInline">
				Default
			  </label>
			</div>
			<div class="form-check form-check-inline">
			  <input type="radio" name="state" id="radioDisabled" value="disabled" disabled>
			  <label for="radioDisabled">
				Disabled
			  </label>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<!-- END card -->
  </pg-container>
  <!-- END CONTAINER FLUID -->
  <!-- START CONTAINER FLUID -->
  <pg-container>
	<!-- START card -->
	<div class="card card-default">
	  <div class="card-header ">
		<div class="card-title">Dropdown Controls
		</div>
		<div class="tools">
		  <a href="javascript:;" class="collapse"></a>
		  <a href="#grid-config" data-toggle="modal" class="config"></a>
		  <a href="javascript:;" class="reload"></a>
		  <a href="javascript:;" class="remove"></a>
		</div>
	  </div>
	  <div class="card-body">
		<div class="row">
		  <div class="col-md-4">
			<p>We've simplified our dropdown buttons by getting rid of the dedicated dropdown associated with them,
			  this looks more clean and also available in all different colors</p>
			<br>
			<pg-select-fx style="width: 110px" [(ngModel)]="selectedOptionCS" [PlaceHolder]="'Select'" AllowClear>
			  <pg-selectfx-option *ngFor="let option of csoptions" [Label]="option.label" [Value]="option"
				[Disabled]="option.disabled">
			  </pg-selectfx-option>
			</pg-select-fx>
			<br>
			<br>
			<p class="small">The button will be automatically sized according to the visible content size. Make sure
			  there is enough room for the hidden content to show</p>
		  </div>
		  <div class="col-md-4">
			<h5>
			  Simple dropdowns
			</h5>
			<p>These are highly customizable dropdowns that come with search option for use to search</p>
			<div class="form-group ">
			  <pg-select style="width: 100%;" [(ngModel)]="selectedOption" [PlaceHolder]="'Select Option'" AllowClear
				ShowSearch>
				<pg-option *ngFor="let option of options" [Label]="option.label" [Value]="option"
				  [Disabled]="option.disabled">
				</pg-option>
			  </pg-select>
			</div>
			<div class="form-group form-group-default form-group-default-select2 required">
			  <label class="">Project</label>
			  <pg-select style="width: 100%;" [(ngModel)]="selectedOption" [PlaceHolder]="'Select Option'" AllowClear
				ShowSearch>
				<pg-option *ngFor="let option of options" [Label]="option.label" [Value]="option"
				  [Disabled]="option.disabled">
				</pg-option>
			  </pg-select>
			</div>
		  </div>
		  <div class="col-md-4">
			<h5>
			  Multi select
			</h5>
			<p>Fancy multiselect option box. Customized for the anypreference</p>
			<br>
			<div class="form-group ">
			  <pg-select style="width: 100%;" [Mode]="'multiple'" [PlaceHolder]="'Select'"
				[(ngModel)]="selectedMultipleOption" [NotFoundContent]="'Not found'">
				<pg-option *ngFor="let option of searchOptions" [Label]="option.label" [Value]="option.value"
				  [Disabled]="option.disabled">
				</pg-option>
			  </pg-select>
			</div>
			<div class="form-group form-group-default form-group-default-select2">
			  <label>Project</label>
			  <pg-select style="width: 100%;" [Mode]="'multiple'" [PlaceHolder]="'Select'"
				[(ngModel)]="selectedMultipleOption" [NotFoundContent]="'Not found'">
				<pg-option *ngFor="let option of searchOptions" [Label]="option.label" [Value]="option.value"
				  [Disabled]="option.disabled">
				</pg-option>
			  </pg-select>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<!-- END card -->
  </pg-container>
  <!-- END CONTAINER FLUID -->
  <!-- START CONTAINER FLUID -->
  <pg-container>
	<!-- START card -->
	<div class="card card-default">
	  <div class="card-header ">
		<div class="card-title">Typehead
		</div>
		<div class="tools">
		  <a href="javascript:;" class="collapse"></a>
		  <a href="#grid-config" data-toggle="modal" class="config"></a>
		  <a href="javascript:;" class="reload"></a>
		  <a href="javascript:;" class="remove"></a>
		</div>
	  </div>
	  <div class="card-body">
		<div class="row">
		  <div class="col-md-4">
			<p>You the following input will give suggestion as you type, you can fetch your list from an external data
			  source.</p>
			<br>
			<div class="form-group typehead">
			  <input placeholder="States of USA" [(ngModel)]="selectedState" [typeahead]="states"
				[typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="5" class="form-control">
			</div>
			<br>
			<br>
			<p class="small">A useful feature in this typehead is autofill as you type</p>
		  </div>
		  <div class="col-md-4">
			<h5>
			  Supporting Different Styles
			</h5>
			<p>Supports both attached form layouts and also traditional input text fields</p>
			<div class="form-group typehead">
			  <input class="form-control" type="text" placeholder="States of USA" [(ngModel)]="selectedStateTwo"
				[typeahead]="states" [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="5">
			</div>
			<div pgFormGroupDefault class="form-group form-group-default required typehead">
			  <label>Countries</label>
			  <input class=" form-control" type="text" placeholder="States of USA" [(ngModel)]="selectedStateThree"
				[typeahead]="states" [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="5">
			</div>
		  </div>
		  <div class="col-md-4">
			<h5>
			  Advance Options
			</h5>
			<p>Want to customize how the data is display, you can do that too with tyephead custom templates</p>
			<br>
			<div class="form-group" id="custom-templates">
			  <input class="typeahead form-control" type="text" placeholder="Oscar winners for Best Picture">
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<!-- END card -->
  </pg-container>
  <!-- END CONTAINER FLUID -->
  <!-- START CONTAINER FLUID -->
  <pg-container>
	<!-- START card -->
	<div class="card card-default">
	  <div class="card-header ">
		<div class="card-title">Date Controls
		</div>
		<div class="tools">
		  <a class="collapse" href="javascript:;"></a>
		  <a class="config" data-toggle="modal" href="#grid-config"></a>
		  <a class="reload" href="javascript:;"></a>
		  <a class="remove" href="javascript:;"></a>
		</div>
	  </div>
	  <div class="card-body">
		<div class="row">
		  <div class="col-lg-4">
			<h5>Simple Date
			  <span class="semi-bold">Picker</span>
			</h5>
			<p>Date picker is powered by boostrap date picker, this is customized in way that it suites our theme and
			  design, Have a look!</p>
			<br>
			<div id="datepicker-component" class="input-group date col-md-8 p-l-0">
			  <pg-datepicker ShowTime="true"></pg-datepicker>
			  <div class="input-group-append">
				<span class="input-group-text">
				  <i class="pg-icon">calendar</i>
				</span>
			  </div>
			</div>
			<br>

			<div class="form-group form-group-default input-group col-md-10">
			  <div class="form-input-group">
				<label>Check In</label>
				<pg-datepicker></pg-datepicker>
			  </div>
			  <div class="input-group-append">
				<span class="input-group-text">
				  <i class="pg-icon">text_align_justify</i>
				</span>
			  </div>
			</div>
		  </div>
		  <div class="col-lg-4">
			<h5>Date
			  <span class="semi-bold">Range</span>
			</h5>
			<p>Date range can be set by the same plugin, this is use full when taking two dates at a time
			</p>
			<br>
			<div class="form-row">
			  <div class="col-md-6">
				<div class="input-group date">
				  <pg-datepicker (ngModelChange)="_startDate=$event;_startValueChange()" Placeholder="Start Date"
					[ngModel]="_startDate" [DisabledDate]="_disabledStartDate" [Format]="'YYYY-MM-DD'"></pg-datepicker>
				  <div class="input-group-append">
					<span class="input-group-text">
					  <i class="pg-icon">calendar</i>
					</span>
				  </div>
				</div>
			  </div>
			  <div class="col-md-6">
				<div class="input-group date sm-m-t-10">
				  <pg-datepicker (ngModelChange)="_endDate=$event;_endValueChange()" Placeholder="End Date"
					[ngModel]="_endDate" [DisabledDate]="_disabledEndDate" [Format]="'YYYY-MM-DD'"></pg-datepicker>
				  <div class="input-group-append">
					<span class="input-group-text">
					  <i class="pg-icon">calendar</i>
					</span>
				  </div>
				</div>
			  </div>
			</div>
			<br>
			<p>Time Picker</p>
			<div class="form-row">
			  <div class="col-md-6">
				<div class="input-group date">
				  <pg-timepicker [(ngModel)]="_date"></pg-timepicker>
				  <div class="input-group-append">
					<span class="input-group-text transparent">
					  <i class="pg-icon">time</i>
					</span>
				  </div>
				</div>
			  </div>
			  <div class="col-md-6">
				<div class="input-group date sm-m-t-10">
				  <pg-timepicker [(ngModel)]="_date_time" [Format]="'h:mm'"></pg-timepicker>
				  <div class="input-group-append">
					<span class="input-group-text transparent">
					  <i class="pg-icon">time</i>
					</span>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="col-lg-4">
			<h5>Advance
			  <span class="semi-bold">Settings</span>
			</h5>
			<p>Some advance setting that you can do with this calender, like disabling future or past dates</p>
			<br>
			<div class="input-group date col-md-8 p-l-0">
			  <pg-datepicker [(ngModel)]="_advance_date" [DisabledDate]="_advance_disabledDate"></pg-datepicker>
			  <div class="input-group-append">
				<span class="input-group-text">
				  <i class="pg-icon">calendar</i>
				</span>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<!-- END card -->
  </pg-container>
  <!-- END CONTAINER FLUID -->
  <!-- START CONTAINER FLUID -->
  <pg-container>
	<!-- START card -->
	<div class="card card-default">
	  <div class="card-header ">
		<div class="card-title">Input helpers
		</div>
		<div class="tools">
		  <a href="javascript:;" class="collapse"></a>
		  <a href="#grid-config" data-toggle="modal" class="config"></a>
		  <a href="javascript:;" class="reload"></a>
		  <a href="javascript:;" class="remove"></a>
		</div>
	  </div>
	  <div class="card-body">
		<div class="row">
		  <div class="col-lg-6">
			<h5>
			  Input masks
			</h5>
			<p>These assure the user will never enter invalid phone no, email or anything that has a pattern even
			  without validations</p>
			<br>
			<div class="form-group">
			  <label>Date</label>
			  <input mask="d0/M0/0000" [leadZeroDateTime]="true"  type="text" id="date" class="form-control" guide="true">
			  <span class="help">e.g. "25/12/2013"</span>
			</div>
			<div class="form-group">
			  <label>Telephone</label>
			  <input mask="(000) 000-0000" type="text" id="phone" class="form-control">
			  <span class="help">e.g. "(324) 234-3243"</span>
			</div>
			<div class="form-group">
			  <label>Custom</label>
			  <input mask="00-0000000" type="text" id="tin" class="form-control">
			  <span class="help">e.g. "23-4324324"</span>
			</div>
			<div class="form-group">
			  <label>Social Security Number</label>
			  <input mask="000-00-0000" type="text" id="ssn" class="form-control"
				placeholder="You can put anything here">
			  <span class="help">e.g. "432-43-2432"</span>
			</div>
		  </div>
		  <div class="col-lg-6">
			<h5>Input autonumeric
			</h5>
			<p>Do you forget small things? here is something that helps to automatically placed forgotten dollar signs,
			  decimal places and even comma separates and many more!</p>
			<br>
			<div class="form-group">
			  <label>Decimal place and comma separator</label>
			  <input type="text" mask="separator.2" thousandSeparator="," class="autonumeric form-control">
			  <span class="help">e.g. "53,000.00"</span>
			</div>
			<div class="form-group">
			  <label>Weird way but works</label>
			  <input type="text" mask="separator,2" thousandSeparator="." class="autonumeric form-control">
			  <span class="help">e.g. "45.000,00"</span>
			</div>
			<div class="form-group">
			  <label>Dollar prefix</label>
			  <input type="text" mask="separator.2" thousandSeparator="," prefix="$ " class="autonumeric form-control">
			  <span class="help">e.g. "$45.50"</span>
			</div>
			<div class="form-group">
			  <label>Range</label>
			  <input type="text" maxlength="4" mask="separator.0" thousandSeparator="," class="autonumeric form-control">
			  <span class="help">e.g. "0 - 9,999"</span>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<!-- END card -->
  </pg-container>
  <!-- END CONTAINER FLUID -->
  <!-- START CONTAINER FLUID -->
  <pg-container>
	<!-- START card -->
	<div class="card card-default">
	  <div class="card-header ">
		<div class="card-title">WYSIWYG editor
		</div>
		<div class="tools">
		  <a class="collapse" href="javascript:;"></a>
		  <a class="config" data-toggle="modal" href="#grid-config"></a>
		  <a class="reload" href="javascript:;"></a>
		  <a class="remove" href="javascript:;"></a>
		</div>
	  </div>
	  <div class="card-body no-scroll card-toolbar">
		<h5>Quill Editor</h5>
		<div class="">
		  <quill-editor [styles]="{height: '350px'}" placeholder=""></quill-editor>
		</div>
	  </div>
	</div>
	<!-- END card -->
  </pg-container>
  <!-- END CONTAINER FLUID -->
  <!-- START CONTAINER FLUID -->
  <pg-container>
	<div class="row">
	  <div class="col-lg-6">
		<!-- START card -->
		<div class="card card-default">
		  <div class="card-header ">
			<div class="card-title">Tag Input
			</div>
			<div class="tools">
			  <a class="collapse" href="javascript:;"></a>
			  <a class="config" data-toggle="modal" href="#grid-config"></a>
			  <a class="reload" href="javascript:;"></a>
			  <a class="remove" href="javascript:;"></a>
			</div>
		  </div>
		  <div class="card-body">
			<p>Do you use tags to organize content on your site? This plugin will turn your boring tag list into a
			  magical input that turns each tag into a style-able object with its own delete link.
			</p>
			<br>
			<div class="m-b-10">
			  <pg-tag>Tag 1</pg-tag>
			  <pg-tag Closable (Close)="onClose($event)">Tag 2</pg-tag>
			</div>
			<br>
			<div class="form-group tag-group">
			  <label>Recipient</label>
			  <pg-tag-control [(ngModel)]="tags"></pg-tag-control>
			  <span class="help">e.g. "john@smith.com"</span>
			</div>
			<br>
			<div class="form-group tag-group form-group-default required ">
			  <label>Tags</label>
			  <pg-tag-control [(ngModel)]="tags"></pg-tag-control>
			</div>

		  </div>
		</div>
		<!-- END card -->
	  </div>
	  <div class="col-lg-6">
		<!-- START card -->
		<div class="card card-default">
		  <div class="card-header ">
			<div class="card-title">
			  Drag n' drop uploader
			</div>
			<div class="tools">
			  <a class="collapse" href="javascript:;"></a>
			  <a class="config" data-toggle="modal" href="#grid-config"></a>
			  <a class="reload" href="javascript:;"></a>
			  <a class="remove" href="javascript:;"></a>
			</div>
		  </div>
		  <div class="card-body no-scroll no-padding">
			<pg-upload Type="drag" [Multiple]="true" [Limit]="2" Action="https://jsonplaceholder.typicode.com/posts/"
			  (Change)="handleChange($event)" extraClass="dropzone" progressType="circle">
			  <div class="d-flex flex-column align-items-center">
				<h4 class="semi-bold no-margin">Drop files to Upload</h4>
				<p>or click here</p>
			  </div>
			</pg-upload>
		  </div>
		</div>
		<!-- END card -->
	  </div>
	</div>
  </pg-container>
  <!-- END CONTAINER FLUID -->
  <pg-container>
	<!-- START card -->
	<div class="card card-default">
	  <div class="card-header ">
		<div class="card-title">File Upload
		</div>
		<div class="tools">
		  <a class="collapse" href="javascript:;"></a>
		  <a class="config" data-toggle="modal" href="#grid-config"></a>
		  <a class="reload" href="javascript:;"></a>
		  <a class="remove" href="javascript:;"></a>
		</div>
	  </div>
	  <div class="card-body">
		<div class="row">
		  <div class="col-lg-4">
			<h5>Photo Wall
			  <span class="semi-bold">Picker</span>
			</h5>
			<p>Gallery like file uploader for images that looks cool! Simply use <code>ListType="picture-card"</code>
			</p>
			<br>
			<pg-upload ListType="picture-card" [(FileList)]="fileList" [ShowButton]="fileList.length < 3"
			  [Preview]="handlePreview">
			  <div class="pic-placeholder">
				<i class="pg-icon p-b-5">upload</i>
				<div class="fs-12">Upload</div>
			  </div>
			</pg-upload>
		  </div>
		  <div class="col-lg-4">
			<h5>Image
			  <span class="semi-bold">List</span>
			</h5>
			<p>Have a horizontal list of image uploader as you need, you can limit the type and size of the files you
			  wish
			  by using <code>Limit = 2</code> and <code>FileType = "image/png"</code>
			</p>
			<br>

			<pg-upload Action="https://jsonplaceholder.typicode.com/posts/" ListType="picture"
			  [(FileList)]="fileList1">
			  <button class="btn btn-defalt btn-cons">
				<i class="pg-icon">upload</i><span>Upload</span>
			  </button>
			</pg-upload>
		  </div>
		  <div class="col-lg-4">
			<h5>Simple
			  <span class="semi-bold">List</span>
			</h5>
			<p>The most common way of upload control. Use any custom button and style you wish</p>
			<br>
			<pg-upload Action="https://jsonplaceholder.typicode.com/posts/" [FileList]="fileList2">
			  <button class="btn btn-success btn-cons">
				<i class="pg-icon">upload</i><span>Upload</span>
			  </button>
			</pg-upload>
		  </div>
		</div>
	  </div>
	</div>
	<!-- END card -->
  </pg-container>