<!-- START JUMBOTRON -->
<div class="jumbotron page-cover bg-black m-b-0">
  <pg-container extraClass="sm-p-l-0 sm-p-r-0" extraHorizontalClass="p-l-0 p-r-0">
    <div class="inner" pg-parallax>
      <div class="container-md-height">
        <div class="row m-lg-0">
          <div class="col-xl-7 col-lg-6">
            <!-- START card -->
            <div class="full-height">
              <div class="card-body text-center justify-content-center align-items-center d-flex full-height">
                <img class="image-responsive-height demo-w-240" src="assets/img/demo/color_banner.gif"
                src2x="assets/img/demo/color_banner@2x.gif"
                src1x="assets/img/demo/color_banner.gif"
                alt="" width="240">
              </div>
            </div>
            <!-- END card -->
          </div>
          <div class="col-xl-5 col-lg-5 d-flex align-items-center">
            <!-- START card -->
            <div class="card card-transparent">
              <div class="card-header p-l-10">
                <div class="card-title">Getting started
                </div>
              </div>
              <div class="card-body p-r-10 p-l-10">
                <h3 class="">Introducing pages adaptive color system.</h3>
                <p>Color is a core building block of any design system. Pages color system help create scalable color
                  themes, ensures accessible text, and distinguishes UI elements and surfaces from one another.</p>
                <br>
                <div>
                  <div class="inline">
                    <p class="small  hint-text m-t-5">Have an Improvement or a suggestion?
                      <br>goto request box</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- END card -->
          </div>
        </div>
      </div>
    </div>
  </pg-container>
</div>
<!-- END JUMBOTRON -->
<div class="bg-white">
  <pg-container extraClass="p-t-40 p-b-50" extraHorizontalClass="p-t-40 p-b-50">
    <div class="row">
      <div class="col-md-6 col-lg-7">
        <!-- START card -->
        <div class="card card-transparent">
          <div class="card-header ">
            <div class="card-title">Tints and shades
            </div>
          </div>
          <div class="card-body">
            <h3>Pages color spectrum</h3>
            <p>Color should be used consistently in any product so that certain colors always mean the same thing. For
              example, Pages red is used to show alerts and warnings. The Pages color spectrum ensures all possible
              context for use of color is covered with each base color having its shades and tints generated
              automatically.</p>
          </div>
        </div>
        <!-- END card -->
      </div>
      <div class="col-md-6 col-lg-5">
        <div class="col-xl-8 pull-right">
          <!-- START card -->
          <div class="border b-grey rounded-sm m-t-10">
            <div class="padding-10">
              <div class="d-flex m-b-10">
                <div class="">
                  <img src="assets/img/demo/palette.png" alt="Pages color swatcher"
                    src1x="assets/img/demo/palette.png" src2x="assets/img/demo/palette@2x.png"
                    width="56" height="56">
                </div>
                <div class="m-l-20">
                  <p class="m-t-0 bold m-b-5">Pages color swatches</p>
                  <p class="m-b-5">Download pages dashboard compleate spectrum color
                    palette for photoshop</p>
                </div>
              </div>
              <div>
                <a href="http://pages.revox.io/swatches.zip"
                  class="btn btn-sm no-border no-padding hint-text fs-12 btn-block text-left">
                  <span>Download swatcher</span>
                  <i class="pg-icon">arrow_top_right</i>
                </a>
              </div>
            </div>
          </div>
          <!-- END card -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">

        <!-- START card -->
        <div class="card  card-transparent">
          <div class="card-body">
            <div class="bg-primary  padding-15">
              <div class="pull-left">
                <p class="m-b-0">Primary color - Pages purple</p>
                <p class="p-b-15">color-primary</p>
              </div>
              <div class="pull-right">0</div>
              <div class="clearfix"></div>
            </div>
            <div class="d-flex">
              <div class="flex-1 bg-primary-lighter">
                <span class="pull-right p-t-10 p-r-15 p-b-35">-2</span>
              </div>
              <div class="flex-1 bg-primary-light">
                <span class=" pull-right p-t-10 p-r-15 p-b-35">-1</span>
              </div>
              <div class="flex-1 bg-primary-dark">
                <span class=" pull-right p-t-10 p-r-15 p-b-35">1</span>
              </div>
              <div class="flex-1 bg-primary-darker">
                <span class=" pull-right p-t-10 p-r-15 p-b-35">2</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <!-- START card -->
        <div class="card  card-transparent">
          <div class="card-body">
            <div class="bg-complete  padding-15">
              <div class="pull-left">
                <p class="m-b-0">Complete color - Pages blue</p>
                <p class="p-b-15">color-complete</p>
              </div>
              <div class="pull-right">0</div>
              <div class="clearfix"></div>
            </div>
            <div class="d-flex">
              <div class="flex-1 bg-complete-lighter">
                <span class="pull-right p-t-10 p-r-15 p-b-35">-2</span>
              </div>
              <div class="flex-1 bg-complete-light">
                <span class=" pull-right p-t-10 p-r-15 p-b-35">-1</span>
              </div>
              <div class="flex-1 bg-complete-dark">
                <span class=" pull-right p-t-10 p-r-15 p-b-35">1</span>
              </div>
              <div class="flex-1 bg-complete-darker">
                <span class=" pull-right p-t-10 p-r-15 p-b-35">2</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <!-- START card -->
        <div class="card  card-transparent">
          <div class="card-body">
            <div class="bg-success  padding-15">
              <div class="pull-left">
                <p class="m-b-0">Success color - Pages green</p>
                <p class="p-b-15">color-success</p>
              </div>
              <div class="pull-right">0</div>
              <div class="clearfix"></div>
            </div>
            <div class="d-flex">
              <div class="flex-1 bg-success-lighter">
                <span class="pull-right p-t-10 p-r-15 p-b-35">-2</span>
              </div>
              <div class="flex-1 bg-success-light">
                <span class=" pull-right p-t-10 p-r-15 p-b-35">-1</span>
              </div>
              <div class="flex-1 bg-success-dark">
                <span class=" pull-right p-t-10 p-r-15 p-b-35">1</span>
              </div>
              <div class="flex-1 bg-success-darker">
                <span class=" pull-right p-t-10 p-r-15 p-b-35">2</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <!-- START card -->
        <div class="card  card-transparent">
          <div class="card-body">
            <div class="bg-warning  padding-15">
              <div class="pull-left">
                <p class="m-b-0">Warning color - Pages yellow</p>
                <p class="p-b-15">color-warning</p>
              </div>
              <div class="pull-right">0</div>
              <div class="clearfix"></div>
            </div>
            <div class="d-flex">
              <div class="flex-1 bg-warning-lighter">
                <span class="pull-right p-t-10 p-r-15 p-b-35">-2</span>
              </div>
              <div class="flex-1 bg-warning-light">
                <span class=" pull-right p-t-10 p-r-15 p-b-35">-1</span>
              </div>
              <div class="flex-1 bg-warning-dark">
                <span class=" pull-right p-t-10 p-r-15 p-b-35">1</span>
              </div>
              <div class="flex-1 bg-warning-darker">
                <span class=" pull-right p-t-10 p-r-15 p-b-35">2</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <!-- START card -->
        <div class="card  card-transparent">
          <div class="card-body">
            <div class="bg-danger  padding-15">
              <div class="pull-left">
                <p class="m-b-0">Danger color - Pages red</p>
                <p class="p-b-15">color-danger</p>
              </div>
              <div class="pull-right">0</div>
              <div class="clearfix"></div>
            </div>
            <div class="d-flex">
              <div class="flex-1 bg-danger-lighter">
                <span class="pull-right p-t-10 p-r-15 p-b-35">-2</span>
              </div>
              <div class="flex-1 bg-danger-light">
                <span class=" pull-right p-t-10 p-r-15 p-b-35">-1</span>
              </div>
              <div class="flex-1 bg-danger-dark">
                <span class=" pull-right p-t-10 p-r-15 p-b-35">1</span>
              </div>
              <div class="flex-1 bg-danger-darker">
                <span class=" pull-right p-t-10 p-r-15 p-b-35">2</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <!-- START card -->
        <div class="card  card-transparent">
          <div class="card-body">
            <div class="bg-info  padding-15">
              <div class="pull-left">
                <p class="m-b-0">Info color - Pages gray</p>
                <p class="p-b-15">color-info</p>
              </div>
              <div class="pull-right">0</div>
              <div class="clearfix"></div>
            </div>
            <div class="d-flex">
              <div class="flex-1 bg-info-lighter">
                <span class="pull-right p-t-10 p-r-15 p-b-35">-2</span>
              </div>
              <div class="flex-1 bg-info-light">
                <span class=" pull-right p-t-10 p-r-15 p-b-35">-1</span>
              </div>
              <div class="flex-1 bg-info-dark">
                <span class=" pull-right p-t-10 p-r-15 p-b-35">1</span>
              </div>
              <div class="flex-1 bg-info-darker">
                <span class=" pull-right p-t-10 p-r-15 p-b-35">2</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-b-40">
      <div class="col-md-4">

        <!-- START card -->
        <div class="card  card-transparent">
          <div class="card-body">
            <div class="bg-menu  padding-15">
              <div class="pull-left">
                <p class="m-b-0">Menu color - Pages gray</p>
                <p class="p-b-15">color-menu</p>
              </div>
              <div class="pull-right"></div>
              <div class="clearfix"></div>
            </div>
            <div class="d-flex">
              <div class="flex-1 bg-menu-light">
                <span class="pull-right p-t-10 p-r-15 p-b-35"></span>
              </div>
              <div class="flex-1 bg-menu-dark">
                <span class=" pull-right p-t-10 p-r-15 p-b-35"></span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <!-- START card -->
        <div class="card card-transparent">
          <div class="card-body">
            <h3>Neutral color spectrum</h3>
            <p>The neutral color palette is made with two contrasting colors on either side, usually white and black.
              The
              rest of the colors in the middle are auto-generated to be used for various UI elements and surfaces, for
              example, color-contrast-lower is used for background and color-contrast-high is used for regular
              paragraphs.
            </p>
          </div>
        </div>
        <!-- END card -->

      </div>
    </div>
    <div class="d-flex">
      <div class="flex-1 bg-contrast-lowest">
        <div class=" padding-15">
          <div class="pull-left">
            <p class="m-b-0">color-contrast-lowest</p>
            <p class="p-b-15">Background</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="flex-1 bg-contrast-lower">
        <div class=" padding-15">
          <div class="pull-left">
            <p class="m-b-0">color-contrast-lower</p>
            <p class="p-b-15">Background light</p>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
      <div class="flex-1 bg-contrast-low">
        <div class="  padding-15">
          <div class="pull-left">
            <p class="m-b-0">color-contrast-low</p>
            <p class="p-b-15">Borderds</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="flex-1 bg-contrast-medium">
        <div class="  padding-15">
          <div class="pull-left">
            <p class="m-b-0">color-contrast-medium</p>
            <p class="p-b-15">Muted/helper text</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="flex-1 bg-contrast-high">
        <div class="  padding-15">
          <div class="pull-left">
            <p class="m-b-0">color-contrast-high</p>
            <p class="p-b-15">Regular paragraphs</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="flex-1 bg-contrast-higher">
        <div class="  padding-15">
          <div class="pull-left">
            <p class="m-b-0">color-contrast-higher</p>
            <p class="p-b-15">Headings</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </pg-container>
</div>

<pg-container extraClass="m-t-20" extraHorizontalClass="m-t-20">
  <div class="row">
    <div class="col-md-4">
      <!-- START card -->
      <div class="card no-border">
        <div class="card-header ">
          <div class="card-title">ACCESSABILITY
          </div>
        </div>
        <div class="card-body">
          <h4>Legibility standards</h4>
          <p>We believe any user of diverse abilities should be able to navigate and understand and use UI, especially
            when the content a user is dealing with is sensitive and important. Making every text accessible from almost
            17 million colors in the hexadecimal scale is a big challenge for anyone. </p>
          <p class="m-b-15">Pages color system automatically picks the best legible text color for a given background
            maintaining a AA contrast ration according to Web Content Accessibility Guidelines or WCAG.</p>
          <img class="image-responsive-height demo-mw-AA" src="assets/img/demo/legibility.gif"
            alt="text legibility" src1x="assets/img/demo/legibility.gif"
            src2x="assets/img/demo/legibility@2x.gif" width="485">
        </div>
      </div>
      <!-- END card -->
    </div>
    <div class="col-md-8">
      <!-- START card -->
      <div class="card no-border">
        <div class="card-header ">
          <div class="card-title">SYSTEM
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h4>Color calibration</h4>
              <p>Pages color system is equipped with a set of modifiers to give you the total control and freedom on how
                colors should apply and adapt accordingly. Color calibration helps to give flat shades and tints more
                vibrance while making sure we perceive the difference between the colors from shades to tints.</p>
              <p class="small hint-text">Hue shift takes a color's relative luminance into consideration in order to
                determine the direction of the hue rotation. </p>
              <p class="fs-13 m-t-30">Pages purple - color-primary shades</p>
              <img class="image-responsive-height demo-mw-calib" src="assets/img/demo/color_calib.gif"
                alt="Pages color calibration" src1x="assets/img/demo/color_calib.gif"
                src2x="assets/img/demo/color_calib@2x.gif" width="310">
            </div>
            <div class="col-md-6">
              <h5>Global color variables</h5>

              <div clas="row">
                <div class="b-b b-grey">
                  <p class="pull-left no-margin p-t-10 p-b-10 fs-13">$mix-percentage-lighter</p>
                  <p class="pull-right no-margin p-t-10 p-b-10 fs-13">20%</p>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div clas="row">
                <div class="b-b b-grey">
                  <p class="pull-left no-margin p-t-10 p-b-10 fs-13">$mix-percentage-lighter</p>
                  <p class="pull-right no-margin p-t-10 p-b-10 fs-13">90%</p>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div clas="row">
                <div class="b-b b-grey">
                  <p class="pull-left no-margin p-t-10 p-b-10 fs-13">$mix-percentage-dark</p>
                  <p class="pull-right no-margin p-t-10 p-b-10 fs-13">60%</p>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div clas="row">
                <div class="b-b b-grey">
                  <p class="pull-left no-margin p-t-10 p-b-10 fs-13">$mix-percentage-darker</p>
                  <p class="pull-right no-margin p-t-10 p-b-10 fs-13">30%</p>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div clas="row">
                <div class="b-b b-grey">
                  <p class="pull-left no-margin p-t-10 p-b-10 fs-13">$saturation-shift </p>
                  <p class="pull-right no-margin p-t-10 p-b-10 fs-13">14%</p>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div clas="row">
                <div>
                  <p class="pull-left no-margin p-t-10 p-b-10 fs-13">$hue-shift</p>
                  <p class="pull-right no-margin p-t-10 p-b-10 fs-13">8%</p>
                  <div class="clearfix"></div>
                </div>
              </div>

              <a href="#" class="btn btn-default m-t-30">See documentation</a>
            </div>
          </div>

        </div>
      </div>
      <!-- END card -->
    </div>
  </div>
</pg-container>
